<%- include("partials/header") -%> 
<div class="container">
<h1>Error</h1>

<p> Something went wrong in trying to send your email! </p>

<a class="btn btn-primary btn" href="/contact">Try again</a>

</div>

<%- include("partials/footer.ejs") -%> 